/* Default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global Styles */
body {
  font-family: 'Noto Sans Thai', Arial, sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  margin: 0;
}

header {
  background-color: #800080;
  color: #fff;
  padding: 20px;
  text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

section {
  padding: 10px;
}

footer {
  background-color: #800080;
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* Specific Page Styles */
/* Home Page */
body.index header {
  background-color: #4b0082;
}

body.index footer {
  background-color: #4b0082;
}

/* About Page */
body.about header {
  background-color: #9932cc;
}

body.about footer {
  background-color: #9932cc;
}

/* Services Page */
body.services header {
  background-color: #9400d3;
}

body.services footer {
  background-color: #9400d3;
}

/* Team Page */
body.team header {
  background-color: #8a2be2;
}

body.team footer {
  background-color: #8a2be2;
}

/* Contact Page */
body.contact header {
  background-color: #800080;
}

body.contact footer {
  background-color: #800080;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .content {
    padding: 20px;
  }
  
  .course-level {
    flex-direction: column;
  }

  .course-level div {
    width: 100%;
  }
}
sectionteam {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* จัดให้รายชื่อแสดงตรงกลาง */
}

.map-responsive{
  overflow: hidden;
  padding-bottom: 56.25%;
  /* padding-bottom: 100%; */
  position: relative;
  height: 0;
}

.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}