/* Import styles from styles.css */
@import url('/css/styles.css');

.team-member img {
    width: 200px;
    height: auto;
    border-radius: 50%;
    border: 5px solid #800080;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .team-member p {
    margin-top: 10px;
  }

    /* Hover Effect */
    .team-member img:hover {
        transform: scale(1.1);
        transition: transform 0.3s ease;
      }

/* Additional styles for team page */
.team {
  /* display: flex; */
  flex-wrap: wrap;
  justify-content: center;
  background-color: #f8f9fa; /* Light background color */
  color: #333; /* Dark text color */
}

.team-member {
  margin: 10px;
  text-align: center;
  width: 200px;
}

.team-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
